/* Confirmation Message */
div#gform_confirmation_message_2 {
	color: rgb(236, 46, 89);
	font-size: 2em;
	text-align: center;
	margin-bottom: 2em;
	font-weight: 900;
}

/* All Posts List */
.job_area{
	border-bottom : 1px solid #c6c6c6;
	clear: both;
	float: left;
	/* margin: 12px 0; */
	width: 100%;
	padding-top: 15px;
	padding-bottom: 15px;
}
.left_job_area {
	float: left;
	/*padding: 10px;*/
	padding: 5px 0px 0px ;
	/*width:18%;*/
	width: 19%;
}
.description {
	margin-top: -8px !important;
}
.left_job_right {
	 float: left;
	 /*padding: 0px 8px;*/
	 padding: 9px 8px;
	 width: 59%;
}
.left_job_right a{
	color: #157185 !important;
}
.title {
	float:left;
}
.title a{
	width:100%;
	float:left;
	color: #157185;
	text-decoration:none;
	font-size:18px;
	font-weight:bold;
	line-height: 23px;
}
.middle_job_area {
	    background: none repeat scroll 0 0 #AFB0B2;
		border-radius: 7px;
		float: left;
		/*margin: 2px 7px;*/
		margin: 2px 10px;
		padding: 10px 0;
		/*width: 16%;*/
		width: 12%;
}

/* Job Posts Single */
.JobdateFront {
	font-family: "ff-din-web-pro", sans-serif;
	font-size: 14px;
	font-weight: bold;
	margin: 0 0 10px;
	text-transform: uppercase;
}
.left_job_area_front .title{
	border-bottom: 2px solid #ece6dc;
	display: block;
	font-size: 24px;
	padding-bottom: 5px;
	width: 100%;
	float:left;
}
.left_job_right_single{
	 float: left;
	 width: 96%;
}
.jobs_heading {
	color: #878787;
	font-size: 20px;
	font-style: italic;
	font-weight: bold;
	margin: 10px 0;
	padding: 1%;
	text-align: right;
	width: 94%;
}
.Jobdate{
	float: left;
	width: 100%;
	/*padding:5px 0;*/
	padding:2px, 0px;
	font-size:12px;
	text-align:center;
	color:#39464E;
	font-weight:bold;
}

.JobdateFront > span{
	color: #157185;
}
.title > span {
	font-size: 16px;
	font-weight: lighter;
}
.JobdateFront > a {
	background: none repeat scroll 0 0 #157185;
	border-radius: 6px;
	color: #fff !important;
	display: block;
	float: right;
	height: 40px;
	line-height: 40px;
	margin-bottom: 10px;
	overflow: hidden;
	padding: 0 13px;
	text-align: center;
	text-decoration: none;
}
.row ,.row1 {
	float: left;
	padding: 5px;
	width: 96%;
}
.label {
	float: left;
	padding: 6px;
	width: 15%;
}
.red{
	color:red;
}
textarea{
	width:100%;
	height:250px;
}
.row1 > span {
	float: left;
	font-size: 16px;
	font-weight: bold;
	padding: 10px 6px;
	width: 100%;
}
.row1 .field > input{
	  width: 80%;
	  margin-top: 5px;
}
.row2 {
	float: left;
	margin-right: 10px;
	width: 48%;
}
.row2 > .label {
	width: 31%;
}
.row2 .field > input , .row2 .field > select{
	width:61%;
	margin-top: 5px;
}
.row .field > input {
	width: 30.4%;
	margin-top: 5px;
}

.field > input {
	border: 1px solid #c6c6c6;
}
.ss > input {
	float: left;
	width: 41px;
	margin-top: 5px;
	margin-right:10px
}
.sss > input{
	float: left;
	width: 18%;
	margin-top: 5px;
	margin-right:10px
}
#apply-now {
	float: left;
	 margin-top: 31px;
}
#floatingBarsG{
height: 77px;
left: 45%;
position: relative;
top: 45%;
width: 62px;
}
.blockG{
position:absolute;
background-color:#FFFFFF;
width:10px;
height:24px;
-moz-border-radius:8px 8px 0 0;
-moz-transform:scale(0.4);
-moz-animation-name:fadeG;
-moz-animation-duration:1.04s;
-moz-animation-iteration-count:infinite;
-moz-animation-direction:linear;
-webkit-border-radius:8px 8px 0 0;
-webkit-transform:scale(0.4);
-webkit-animation-name:fadeG;
-webkit-animation-duration:1.04s;
-webkit-animation-iteration-count:infinite;
-webkit-animation-direction:linear;
-ms-border-radius:8px 8px 0 0;
-ms-transform:scale(0.4);
-ms-animation-name:fadeG;
-ms-animation-duration:1.04s;
-ms-animation-iteration-count:infinite;
-ms-animation-direction:linear;
-o-border-radius:8px 8px 0 0;
-o-transform:scale(0.4);
-o-animation-name:fadeG;
-o-animation-duration:1.04s;
-o-animation-iteration-count:infinite;
-o-animation-direction:linear;
border-radius:8px 8px 0 0;
transform:scale(0.4);
animation-name:fadeG;
animation-duration:1.04s;
animation-iteration-count:infinite;
animation-direction:linear;
}

#rotateG_01{
left:0;
top:28px;
-moz-animation-delay:0.39s;
-moz-transform:rotate(-90deg);
-webkit-animation-delay:0.39s;
-webkit-transform:rotate(-90deg);
-ms-animation-delay:0.39s;
-ms-transform:rotate(-90deg);
-o-animation-delay:0.39s;
-o-transform:rotate(-90deg);
animation-delay:0.39s;
transform:rotate(-90deg);
}

#rotateG_02{
left:8px;
top:10px;
-moz-animation-delay:0.52s;
-moz-transform:rotate(-45deg);
-webkit-animation-delay:0.52s;
-webkit-transform:rotate(-45deg);
-ms-animation-delay:0.52s;
-ms-transform:rotate(-45deg);
-o-animation-delay:0.52s;
-o-transform:rotate(-45deg);
animation-delay:0.52s;
transform:rotate(-45deg);
}

#rotateG_03{
left:26px;
top:3px;
-moz-animation-delay:0.65s;
-moz-transform:rotate(0deg);
-webkit-animation-delay:0.65s;
-webkit-transform:rotate(0deg);
-ms-animation-delay:0.65s;
-ms-transform:rotate(0deg);
-o-animation-delay:0.65s;
-o-transform:rotate(0deg);
animation-delay:0.65s;
transform:rotate(0deg);
}

#rotateG_04{
right:8px;
top:10px;
-moz-animation-delay:0.78s;
-moz-transform:rotate(45deg);
-webkit-animation-delay:0.78s;
-webkit-transform:rotate(45deg);
-ms-animation-delay:0.78s;
-ms-transform:rotate(45deg);
-o-animation-delay:0.78s;
-o-transform:rotate(45deg);
animation-delay:0.78s;
transform:rotate(45deg);
}

#rotateG_05{
right:0;
top:28px;
-moz-animation-delay:0.9099999999999999s;
-moz-transform:rotate(90deg);
-webkit-animation-delay:0.9099999999999999s;
-webkit-transform:rotate(90deg);
-ms-animation-delay:0.9099999999999999s;
-ms-transform:rotate(90deg);
-o-animation-delay:0.9099999999999999s;
-o-transform:rotate(90deg);
animation-delay:0.9099999999999999s;
transform:rotate(90deg);
}

#rotateG_06{
right:8px;
bottom:7px;
-moz-animation-delay:1.04s;
-moz-transform:rotate(135deg);
-webkit-animation-delay:1.04s;
-webkit-transform:rotate(135deg);
-ms-animation-delay:1.04s;
-ms-transform:rotate(135deg);
-o-animation-delay:1.04s;
-o-transform:rotate(135deg);
animation-delay:1.04s;
transform:rotate(135deg);
}

#rotateG_07{
bottom:0;
left:26px;
-moz-animation-delay:1.1700000000000002s;
-moz-transform:rotate(180deg);
-webkit-animation-delay:1.1700000000000002s;
-webkit-transform:rotate(180deg);
-ms-animation-delay:1.1700000000000002s;
-ms-transform:rotate(180deg);
-o-animation-delay:1.1700000000000002s;
-o-transform:rotate(180deg);
animation-delay:1.1700000000000002s;
transform:rotate(180deg);
}

#rotateG_08{
left:8px;
bottom:7px;
-moz-animation-delay:1.3s;
-moz-transform:rotate(-135deg);
-webkit-animation-delay:1.3s;
-webkit-transform:rotate(-135deg);
-ms-animation-delay:1.3s;
-ms-transform:rotate(-135deg);
-o-animation-delay:1.3s;
-o-transform:rotate(-135deg);
animation-delay:1.3s;
transform:rotate(-135deg);
}

@-moz-keyframes fadeG{
0%{
background-color:#000000}

100%{
background-color:#FFFFFF}

}

@-webkit-keyframes fadeG{
0%{
background-color:#000000}

100%{
background-color:#FFFFFF}

}

@-ms-keyframes fadeG{
0%{
background-color:#000000}

100%{
background-color:#FFFFFF}

}

@-o-keyframes fadeG{
0%{
background-color:#000000}

100%{
background-color:#FFFFFF}

}

@keyframes fadeG{
0%{
background-color:#000000}

100%{
background-color:#FFFFFF}

}
.loader{
 background: none repeat scroll 0 0 #000;
height: 100%;
left: 0;
opacity: 0.28;
position: fixed;
top: 0;
width: 100%;
}

/* Default the browser */
.job_area p.description {
	margin: 0;
}
.job_area .left_job_area h1.title {
	margin: 0;
}