.shortcode-span {
	font-size: 16px;
	font-weight: bold;
	color: rgb(81, 76, 70);
}
.row ,.row1 {
	float: left;
	padding: 5px;
	width: 96%;
}
.label {
	float: left;
	padding: 6px;
	width: 15%;
}
.red{
	color:red;
}
textarea{
	width:100%;
	height:250px;
}
.row1 > span {
	float: left;
	font-size: 16px;
	font-weight: bold;
	padding: 10px 6px;
	width: 100%;
}
.row1 .field > input{
	  width: 80%;
	  margin-top: 5px;
}
.row2 {
	float: left;
	margin-right: 10px;
	width: 48%;
}
.row2 > .label {
	width: 31%;
}
.row2 .field > input , .row2 .field > select{
	width:61%;
	margin-top: 5px;
}
.row .field > input {
	width: 30.4%;
	margin-top: 5px;
}

.field > input {
	border: 1px solid #c6c6c6;
}
.ss > input {
	float: left;
	width: 41px;
	margin-top: 5px;
	margin-right:10px
}
.sss > input{
	float: left;
	width: 18%;
	margin-top: 5px;
	margin-right:10px
}
#apply-now {
	float: left;
	 margin-top: 31px;
}